<!-- Banner -->
  <div class="banner-section">
      <div class="row">
        <div class="head-cntr">
          <div class="page-heading">
                <h1>Find Bank Branches</h1>
            </div>
            <p>
                Find your nearest city banks by selecting your city.
            </p>
        </div>
      </div>
  </div>
<!-- Banner End -->


  <div class="table-container transaction-table">
      <h5>ALL BANKS</h5>
      <select id="select-city">
        <option value="BANGALORE">BANGALORE</option>
        <option value="PUNE">PUNE</option>
        <option value="CHENNAI">CHENNAI</option>
        <option value="DELHI">DELHI</option>
        <option value="GUJRAT">GUJRAT</option>
      </select>
      <input type="text" placeholder="Search by bank name or branch" id="search" class="search"/>
      <div id="loanTable">

      </div>
  </div>
